body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #241C16; /* Dark Brown */
  color: #fff;
}

/* Header */
header {
  text-align: center;
  padding: 90px;
  background-color: #33251B; /* Medium Brown */
}

.welcomeText{
  position: absolute;
  left: 200px;
  top: 50px;
}

.SelfPhoto{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%; 
}

.git-image{
  position: absolute; /* sets position*/
  top: 0;
  right: 0; 
  padding-right: 100px;
}

.Back{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;  
}

.git-image img {
  width: 80px; /* size of the git image */
  height: auto;
  margin: 10px; /* adds space from top and right edges */
}

.GameEngineImage{
  display: flex;
  position: absolute;
  top: 0;
  right: 200px; 
  width: 80px;
  height: auto;
  margin: 10px;
}

.TextProjectTitel{
  color: #fff;
  font-size: 35px;
}

.projects-btn {
  position: absolute;
  right: 20px;
  top: 70px;
  padding: 10 px;
  border: none;
  background-color: #857B73; /* Grayish Brown */
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.projects-btn:hover {
  background-color: black; /* Medium Brown */
}

/* Sections */
section {
  padding: 30px;
  text-align: center;
  background-color: #857B73; /* Grayish Brown */
  color: #33251B;
  border-radius: 10px;
  margin: 20px;
}

/* About Me */
#about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #52453C; /* Medium Brown */
  padding: 40px;
  border-radius: 10px;
}

.about-text {
  width: 50%;
  color: #fff;
}

.about-image img {
  position: relative;
  top: 0;
  left: 0;
  width: 420px;
  height: 640px;
  border-radius: 10px;
  background-color: #857B73; /* Grayish Brown */
}

/* Divider */
hr {
  border: 1px solid #857B73;
  margin: 30px auto;
  width: 80%;
}

/* Projects Section */
.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project-item img {
  width: 150px;
  height: 150px;
  background-color: #52453C; /* Medium Brown */
  border-radius: 10px;
}

.color{
  color: 33251B;
}

/* Skills Section */
.skills-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.skill-card {
  background-color: #33251B; /* Dark Brown */
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  border: 2px solid #857B73;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #33251B; /* Medium Brown */
  color: #fff;
}
