body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../img/seamless-basket-weave-texture.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  color: #fff;
}

/* Header */
header {
  text-align: center;
  padding: 90px;
  background-color: #33251B; /* Medium Brown */
}

.welcomeText{
  position: absolute;
  left: 200px;
  top: 50px;
}

.SelfPhoto{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%; 
}

.git-image{
  position: absolute;
  top: 0;
  right: 0; 
  padding-right: 120px;
}

.git-image p{
  margin-top: -12px;
  color: white;
  text-decoration-line: none;
}

.git-image p:hover{
  color: white;
  text-decoration: underline;
}

.Back{
  position: absolute;
  right: 10px;
  top: 20px;
  padding: 30px;
  padding-left: 30px;
  padding-right: 30px;  
  border: none;
  background-color: #857B73; /* Grayish Brown */
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.Back:hover{
  text-decoration: underline;
  color: #33251B;
  }

.git-image img {
  width: 80px;
  height: auto;
  margin: 10px; 
}

.LinkToCode{
  position: absolute;
  top: 10px;
  right: 10px;
  
}

.LinkToCode img{
  width: 80px;
  height: auto;
}

.LinkToCode p:hover{
  color: black;
}

.GameEngineImage{
  display: flex;
  position: absolute;
  top: 0;
  right: 240px; 
  width: 80px;
  height: auto;
  margin: 10px;
}

.GameEngineText{
  display: flex;
  position: absolute;
  top: 75px;
  right: 230px;   
}

.TextProjectTitel{
  color: #fff;
  font-size: 35px;
}

.GameplayPic{
  width: 890px;
  height: 450px;
}

.GameplayPicOther{
  display: flex;     
  list-style: none; 
  padding-top: 20px;
  padding-right: 40px;
  margin: 0;
  gap: 10px;       
}

.GameplayPicOther img {
  width: 440px;
  height: 240px;
  max-width: 100%;
  display: block;
}

.projects-btn {
  position: absolute;
  right: 20px;
  top: 70px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;  
  border: none;
  background-color: #857B73; /* Grayish Brown */
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.projects-btn:hover {
  text-decoration: underline;
  color: #33251B;
  }

/* Sections */
section {
  position: relative;
  padding: 30px;
  text-align: center;
  background-color: #857B73; /* Grayish Brown */
  color: #33251B;
  border-radius: 10px;
  margin: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.Project-Title{
  color: #33251B;
}

/* About Me */
#about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #52453C; /* Medium Brown */
  padding: 40px;
  border-radius: 10px;
}

.Aboutme{
  padding-left: 500px;
  padding-right: 500px;
}

.text-padding{
  padding-left: 200px;
  padding-right: 200px;
}

.Welkom-text {
  width: 50%;
  color: #fff;
}

.project-text{
  display: flex;
  justify-content: center;
  align-items: center;  
  text-align: center;
  height: 100%;
  padding: 2rem;
  flex-direction: column;  
}

a.textDecrative {
    text-decoration: none;
}

.textDecrative:hover{
    text-decoration: underline;
    text-decoration-color: #33251B;
}

.about-image img {
  position: relative;
  top: 0;
  left: 0;
  width: 420px;
  height: 640px;
  border-radius: 10px;
  background-color: #857B73; /* Grayish Brown */
}

/* Divider */
hr {
  border: 1px solid #857B73;
  margin: 30px auto;
  width: 80%;
}

/* Projects Section */
.projects-container {
  display: grid;
  grid-template-columns: repeat(4, 2fr); /* 4 columns */
  gap: 20px;
  max-width: 1000px; /* Adjust as needed */
  margin: 0 auto;
  justify-items: center;
}

.project-item img {
  width: 150px;
  height: 150px;
  background-color: #52453C; /* Medium Brown */
  border-radius: 10px;
}

.visualSheet{
  padding: 50px;
  width: 850px;
  height: 500px;
}

/* Skills Section */
.skills-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.skill-card {
  background-color: #33251B; /* Dark Brown */
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  border: 2px solid #857B73;
}

.contact{
  position: absolute;
  right: 10px;
  
}

.ContactText{
  font-size: 30px;
}

.socials{
  position: absolute;
  font-size: 30px;
}

.socialsLogo{
  width: 60px;
  height: 60px;
}

.copyright{
  position: relative;
  bottom: -130px;
}

/* Footer */
footer {
  position: relative;
  text-align: center;
  padding: 20px;
  height: 150px;
  background-color: #33251B; /* Medium Brown */
  color: #fff;
}

